.kc-logo-text {
    background-image: url(../img/Blue.svg); /* Change this to your logo */
    background-size: contain; /* Ensures the logo fits properly */
    background-position: center; /* Centers the logo */
    background-repeat: no-repeat;
    height: 80px; /* Adjust height as needed */
    width: 320px; /* Adjust width as needed */
    margin: 0 auto;
}

.login-pf body {
    background: url(../img/keycloak-bg.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.login-pf-page .login-pf-page-header {
    margin-bottom: 2px;
    text-align: center;
}
